.hello
    h1=model._id
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nobis pariatur dolorum illum a! Delectus iusto cupiditate earum commodi dolores in nostrum! Consequuntur ex rem ipsam modi cumque reprehenderit iste.
    img(src="https://www.ma7alkom.net/w/png/icon.png", alt="sssss")