.ant-layout {
  background: #f9fafc !important;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.ant-layout-sider-trigger {
  background: #fff;
  border-top: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  color: #4f5d75;
}
.ant-layout-sider-zero-width-trigger {
  top: 5px;
  right: 10px;
  color: #001529;
  background: none;
  font-size: 20px;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: none !important;
}

// .ant-layout-sider-collapsed > .ant-layout-sider-zero-width-trigger {
//   right: -50px;
// }

.ant-avatar {
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}

.ant-dropdown-menu {
  border-radius: 6px;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}
