.js-Accordion {
  margin: 0 auto;
  max-width: 30em;
  width: 80%;
}

.js-Accordion-title {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-top: 0;
  cursor: pointer;
  display: block;
  padding: 1em 0.5em;
  width: 100%;

  &:first-child {
    border-top: 1px solid #ccc;
  }
}

.js-Accordion-content {
  border: 1px solid #ccc;
  border-top: 0;
  height: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.25s linear;
}
