.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #e8edff;
  border-radius: 6px;
  z-index: 99;
  top: 45px;
  left: 0;
  right: 0;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.1);
  overflow: hidden;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #e8edff;
  color: #094460;
  font-size: 13px;
}
.autocomplete-items div:last-child {
  border-bottom: none;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #f2f5ff;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #e1e9f5 !important;
}
