.dashboard {
  position: absolute;
  top: 10px;
  left: 120px;
  width: calc(100% - 120px);
}
.dashboardManger {
  display: flex;
  margin-top: 50px;
  margin-left: -20px;
}
.todayInfo {
  font-family: "Roboto", sans-serif;
  border: 1px solid #e8edff;
  border-radius: 5px;
  //width: 480px;
  margin-right: 10px;
  height: 120px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  //box-shadow: 5px 5px 10px -1px #00a4f01c;
}
.todayInfo hr {
  border-top: 1px solid #e8edff;
  margin: 10px 0px 10px 0px;
}
.numberInfo {
  justify-content: center;
  display: flex;
  margin-top: 8%;
}
.constulation {
  margin: 10px 0px 0px 0px;
}
.constulation h4 {
  color: #00a4f3;
  text-align: center;
  //font-weight: 600;
  margin-top: 5px;
}

.numberInfo p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #00a4f3;
  font-size: 13px;
  margin-top: 5px;
}
.numberInfo h3 {
  font-size: 1.17em;
  font-family: "Roboto", sans-serif;
}
.passes {
  width: 90px;
  justify-content: center;
  border-right: 1px solid #e8edff;
}
.passes h3 {
  margin-left: 10px;
}
.encaisse h3 {
  margin-left: 10px;
}
.encaisse p {
  margin-left: 20% !important;
}
.passes p {
  margin-left: 13px;
}
.encaisse {
  width: 160px;
  margin-left: 20px;
}
.DashboardAnalytic {
  display: flex;
  margin-top: 30px;
  margin-left: -20px;
}
.todayAnalytic {
  //margin-right: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  //width: 600px;
  height: 450px;
  margin-right: 10px;
  border: 1px solid #e8edff;
  border-radius: 5px;
}
.todayConsultation {
  margin-right: 10px;
  //margin-right: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  //width:290px;
  border: 1px solid #e8edff;
  border-radius: 5px;
  height: 450px;
}
.todayTache {
  margin-right: 10px;
  border: 1px solid #e8edff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  //width:290px;
  height: 450px;
}

.tachTitle hr {
  border-top: 1px solid #e8edff;
  margin: 10px 0px 10px 0px;
}
.tachTitle h4 {
  color: #00a4f3;
  text-align: center;
  //font-weight: 600;
  margin-top: 5px;
}
.tachTitle {
  margin-top: 10px;
}
.taches {
  font-weight: 600;
  color: #00a4f3;
  //margin-left: 15px;
  font-family: "Roboto", sans-serif;
  list-style: none;
  line-height: 4rem;
  margin-top: 20px;
}
.tachTodo a {
  text-decoration-line: none !important;
}

.taches li a {
  color: #00a4f3;
  display: flex;
}
.taches li p {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #e8edff;
}
.tachDone li {
  text-decoration-line: line-through !important;
}
.tachDone a {
  text-decoration: line-through;
  color: rgb(14, 206, 30) !important;
}
.apercusDashboard {
  margin-top: 30px;
  display: flex;
  margin-left: -20px;
}
.todayApercu {
  margin-right: 10px;
  width: 890px;
  border: 1px solid #e8edff;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  height: 400px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
}
.todayCommande {
  border: 1px solid #e8edff;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  height: 400px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
}
.Facture,
.Devis {
  margin-left: 10px;
  margin-right: 5px;
}
.Facture h4 {
  color: #00a4f3;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Devis h4 {
  color: #00a4f3;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Commande h4 {
  color: #00a4f3;
  margin-top: 10px;
  margin-bottom: 20px;
}
.todayCommande h4 {
  color: #00a4f3;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bar {
  margin-bottom: 10px;
}
.bar p {
  padding-bottom: 10px;
}
.bar p span {
  position: absolute;
  left: 260px;
}
.devis p span {
  position: absolute;
  left: 550px;
}
.commande p span {
  position: absolute;
  left: 850px;
}
/*progres Bar*/

.bggrey {
  width: 280px;
  border-radius: 20px;
  background-color: rgba(235, 235, 235, 0.671);
  height: 15px;
}
.progress {
  height: 15px;
  border-radius: 20px;
}
// Colors
.NoEnvoye {
  width: 4%;
  background-color: grey;
}
.Impaye,
.exprie,
.annule {
  width: 2%;
  background-color: rgb(248, 87, 28);
}
.Partiellment,
.envoye {
  width: 20%;
  background-color: rgb(8, 147, 240);
}
.Echue,
.decline {
  width: 8%;
  background-color: rgb(250, 34, 34);
}
.Payee,
.accepte,
.livrer {
  width: 66%;
  background-color: rgb(33, 235, 67);
}
/*width of bar*/
.livrer {
  width: 70%;
}

// Patient Style
.todayCommande {
  display: inline;
}
.patientCircle {
  height: 280px;
}
.semaine {
  width: 160px;
  margin-left: 20px;
}
.daily {
  width: 120px;
  justify-content: center;
  border-right: 1px solid #e8edff;
}
.daily h3 {
  margin-left: 10px;
}
.semaine h3 {
  margin-left: 10px;
}

.patientnum {
  justify-content: center;
  display: flex;
  margin-top: 8%;
  margin-left: 40px;
}
.patientnum p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #00a4f3;
  font-size: 13px;
  margin-top: 5px;
}
.patientnum h3 {
  font-size: 1.17em;
  font-family: "Roboto", sans-serif;
}
