.vanilla-datepicker {
  color: #777;
  font-size: 13px;
  position: absolute;
  width: 200px;
  z-index: 10;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  .title-nav {
    display: flex;
    flex-direction: row;
    margin: 2px;
    width: 100%;
    align-items: center;
    .nav-items {
      outline: none;
      align-items: center;
      height: 20px;
      width: 20px;
      line-height: 20px;
      margin: 1px;
      border-radius: 20px;
      color: #fff;
      flex-shrink: 0;
      background: #259cd4;
      padding: 2px;
      display: flex;
      text-align: center;
      cursor: pointer;
      margin-bottom: 5px;
      svg {
        width: 100%;
        height: 10px;
      }

      &.month-lable {
        flex-shrink: 1;
        width: 100%;
        padding: 0px;
        display: block;
        font-size: 12px;
      }
    }
  }
  .week-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    padding: 5px 0px;
    > div {
      width: 100%;
    }
  }
  .week {
    display: flex;
    flex-direction: row;
    align-items: center;
    > div {
      width: 100%;
      padding: 4px;
      cursor: pointer;
      flex: 1;
      margin: 1px;
      padding: 2px;
      justify-content: center;
      background: rgba(0, 0, 0, 0.05);
      text-align: center;
      line-height: 20px;
      font-weight: 300;
      &.no-select {
        cursor: auto;
        opacity: 0.3;
      }
      &.selected {
        background-color: #259cd4;
        color: #fff;
      }
      &:not(.no-select):hover {
        background-color: #259cd4;
        color: #fff;
      }
    }
  }
}
