.dropdown {
  position: relative;
  right: 15px;
  top: 7px;
  width: 24px;
  height: 24px;
  &.list-more-option {
    position: absolute;
  }
  .toggle {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    ul.toggleOption {
      li {
        font-size: 12px;
        font-weight: 600;
        height: auto;
        position: relative;
        &:nth-child(even) {
          // background: #FFF;
          color: $textColor;
        }
        &:nth-child(odd) {
          //   background: #F7F9FF;
          color: #5c78bc;
        }
        &:hover {
          background: #e1edff;
        }
      }
    }
  }
  svg {
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    cursor: pointer;
    fill: #259cd4;
  }
  ul {
    display: none;
    width: 170px;
    z-index: 999999999;
    position: absolute;
    right: 0px;
    background: #ffffff;
    top: 25px;
    box-shadow: 0 6px 16px 0 rgba(0, 120, 176, 0.1);
    border-radius: 6px;
    overflow: hidden;
    li {
      display: inline-block !important;
      padding: 13px 20px 10px 40px !important;
      width: 100% !important;
      margin: 0 !important;
      background: #fff !important;
      cursor: pointer;
      &:hover {
        background: #e1e9f5 !important;
      }
      svg {
        float: left !important;
        width: 20px !important;
        fill: #259cd4 !important;
        left: 10px;
        top: 8px;
      }
    }
  }
}
