.total-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  height: 42px;
  color: $textColor;
  font-size: 14px;
  letter-spacing: 1px;
  .space-adj {
    margin-left: -13px;
  }
  select {
    margin-bottom: 0px;
    width: 90%;
    font-weight: 600;
    color: $textColor;
  }
}

.space-adj {
  padding: 0 55px;
}

.subTotal,
.taxTotal,
.total {
  float: left;
  padding-right: 10px;
  text-align: right;
}
