.fakeScroll__scope {
  overflow: visible !important;
  margin-left: -15px;
  margin-right: -25px;
}

.fakeScroll__wrap {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
}

.fakeScroll__content {
  height: 100%;
  width: 100%;
  padding: 0 32px 0 0;
  position: relative;
  right: -18px;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fakeScroll__track {
  position: absolute;
  right: 11px;
  top: 160px;
  bottom: 30px;
  width: 9px;
  cursor: default;
}

.fakeScroll__bar {
  position: relative;
  background: #e1e9f5;
  width: 100%;
  border-radius: 4px;
  right: 0;
  top: 0;
  z-index: 0;
  transition: background 0.1s;
  cursor: -webkit-grab;
}

.fakeScroll__bar:hover {
  background: #e1e9f5;
}

.fakeScroll__bar.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background: #e1e9f5;
}

body.fakeScroll--grabbed {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  -moz-admin-select: none;
  -webkit-admin-select: none;
  admin-select: none;
}
