* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #daebf7;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack 



*/

.background {
  background: url(../images/background.jpg) no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

svg {
  display: block;
  width: 24px;
  fill: $basicColor;
  float: left;
}
.content {
  position: absolute;
  left: 540px;
  top: 0;
  width: calc(100% - 540px);
}
.wide {
  left: 60px;
  float: left;
  width: calc(100% - 60px);
}
.space {
  width: 100%;
  height: 30px;
  display: inline-block;
}
.space-25 {
  width: 100%;
  height: 25px;
  display: inline-block;
}

.alert {
  padding: 12px 35px 12px 14px;
  margin-bottom: 25px;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: none;
  opacity: 0;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.show {
  display: block !important;
  opacity: 1 !important;
  height: auto !important;
}
.line {
  border-top: 1px solid #e8edff;
  margin-bottom: 20px;
  margin-top: 5px;
}

.link_logo {
  text-decoration: none;
}
.logo-text-only {
  width: 165px;
}
.alphabetic-logo {
  opacity: 0;
  color: #fff;
  padding-left: 40px;
  width: 275px;
  margin-top: -6px;

  .logo-title {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .logo-desc {
    font-size: 8px;
    margin-top: -3px;
    letter-spacing: 0.13px;
  }
}

.clearfix {
  width: 100%;
  display: inline-block;
}
.info-header {
  font-size: 13px;
  font-family: "roboto";
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.info-title {
  color: #259cd4;
  font-weight: 600;
}
.meta-actions {
  display: flex;
  float: right;
  .meta-remove {
    color: #a05b5b;
    font-weight: 500;
    padding-left: 20px;
  }
  span {
    color: #094460;
    cursor: pointer;
    svg {
      margin-top: -3px;
      margin-right: 2px;
    }
  }
}

.center-screen {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  position: absolute;
  .innter-content {
    align-content: center;
  }
  .home-link {
    margin-top: 20px;
    max-width: 200px;
  }
}
