.loaderWarpper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  /* display: inherit; */
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.2s infinite ease-in-out;
  animation: load7 1.2s infinite ease-in-out;
}
.loader {
  color: #259cd4;
  opacity: 0.8;
  font-size: 10px;
  margin: 0 auto;
  top: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.showLoader {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

// .spanner, .overlay{
// 	opacity: 0;
// 	-webkit-transition: all 0.3s;
// 	-moz-transition: all 0.3s;
// 	transition: all 0.3s;
// }

// .spanner.show, .overlay.show {
// 	opacity: 1
// }
// .loader {
//   border: 5px solid #5dbae6;
//   border-top-color: #00699a;
//   border-radius: 50%;
//   width: 60px;
//   height: 60px;
//   animation: spin 1s linear infinite;
//   position: absolute;
//   left: calc(50% - 30px);
//   top: 50%;
//   z-index: 99999;
//   margin: auto;
// }

// @keyframes spin {
//   to {
//     transform: rotate(360deg);
//   }
// }
// @-webkit-keyframes spin {
//   0% {
//     -webkit-transform: rotate(0);
//   }
//   100% {
//     -webkit-transform: rotate(-360deg);
//   }
// }
