nav {
  background-image: linear-gradient(0deg, #018382 0%, #259cd4 100%);
  width: 60px;
  height: 100%;
  float: left;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  &.active,
  &:hover {
    width: 300px;
    .navMenu li p {
      opacity: 1;
      height: auto;
    }
    .alphabetic-logo {
      opacity: 1;
      height: auto;
    }
  }
  // .nav-container{
  // margin-left: 5px;
  // }
  .logo {
    padding: 15px;
    width: inherit;
    height: 60px;
    border-bottom: 1px solid #298dba;
    box-shadow: 0 1px 0 0 rgba(141, 186, 255, 0.2);
  }

  .navMenu {
    padding-top: 15px;
    > li {
      display: inline-block;
      padding: 10px 15px;
      width: 100%;
      float: left;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      svg {
        width: 24px;
        fill: #ffffff;
        float: left;
      }
      p {
        opacity: 0;
        color: #fff;
        padding-left: 40px;
        padding-top: 5px;
        height: 20px;
        width: 275px;
      }
      .nav__active {
        // border-left: 5px solid #fff;
        box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
          -12px 0 8px -4px rgba(31, 73, 125, 0.8);
      }
      &:hover {
        //padding-left: 5px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .subMenu {
    display: none;
    margin-top: 10px;
    list-style: none;
    width: 100%;
    svg {
      opacity: 0.7;
    }
    li {
      padding: 5px 0;
      width: 100%;
      float: left;
      list-style: none;
    }
  }
}

.headerNav {
  z-index: 1000;
  float: right;
  position: relative;
  display: inline-block;
  top: 20px;
  right: 20px;
  .profile {
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 163, 240, 0.2);
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
  .account-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    a:hover {
      background-color: #ddd;
    }
  }
}
.headerNav:hover {
  .account-dropdown {
    display: block;
  }
}
.headerNav ul {
  display: flex;
}
.nav-container {
  position: relative;
  top: 0;
  height: 100%;
}

.drawer {
  background-image: linear-gradient(0deg, #018382 0%, #259cd4 100%);
  opacity: 0;
  transform: translateX(-120%);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
  .toggleOption {
    display: block;
  }
  .close {
    background: transparent;
    border: none;
    padding: 16px 16px 0;
    height: auto;
    outline: none;
  }
}
