.model {
  background: $modelColor;

  margin: 0 auto 50px;
  border-radius: $radiusValue;
  margin-top: 100px;
  background: #ffffff;
  border: 1px solid #e8edff;
  box-shadow: 0 8px 20px 0 rgba(0, 163, 240, 0.05);
  border-radius: 6px;
  font-size: 14px;
  color: $basicColor;
  position: relative;
  &Small {
    width: 760px;
  }
  &Medium {
    width: 840px;
  }
  &Large {
    width: 1100px;
  }
}

.wide .modelSmall {
  width: 1100px !important;
}

.boxHeader {
  padding: 30px 20px;
}

.table {
  position: relative;
  font-family: "roboto";
  width: 100%;
  min-height: 735px;
}
.tableTitle {
  font-size: 16px;
}
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #677788;
}
table {
  border-collapse: collapse;
}
thead.tableHeader {
  font-weight: 500;
  tr {
    font-size: 13px;
    th {
      white-space: nowrap;
      text-align: left;
      padding-bottom: 20px;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
      }
    }
  }
}

tbody.tableBody {
  width: 100%;
  min-height: 420px;
  tr {
    height: 45px;
    font-size: 13px;
    color: #094460;
    &:nth-child(even) {
      background: #fff;
    }
    &:nth-child(odd) {
      background: #f2f5ff;
    }
    &:hover {
      background: #e1e9f5;
    }
    td {
      padding-right: 30px;
      white-space: nowrap;
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 0;
        white-space: normal;
      }
    }
  }
}

table {
  .dropdown {
    position: relative;
    right: 15px;
    top: -2px;
    width: 24px;
    height: 24px;
    &.list-more-option {
      position: absolute;
    }
    .toggle {
      display: block;
      width: 24px;
      height: 24px;
      position: relative;
      ul.toggleOption {
        li {
          font-size: 12px;
          font-weight: 600;
          height: auto;
          position: relative;
          &:nth-child(even) {
            // background: #FFF;
            color: $textColor;
          }
          &:nth-child(odd) {
            //   background: #F7F9FF;
            color: #5c78bc;
          }
          &:hover {
            background: #e1edff;
          }
        }
      }
    }
    svg {
      position: absolute;
      right: 0;
      top: 5px;
      width: 20px;
      cursor: pointer;
      fill: #259cd4;
    }
    ul {
      display: none;
      width: 170px;
      z-index: 999999999;
      position: absolute;
      right: 0px;
      background: #ffffff;
      top: 25px;
      box-shadow: 0 6px 16px 0 rgba(0, 120, 176, 0.1);
      border-radius: 6px;
      overflow: hidden;
      li {
        display: inline-block !important;
        padding: 13px 20px 10px 40px !important;
        width: 100% !important;
        margin: 0 !important;
        background: #fff !important;
        cursor: pointer;
        &:hover {
          background: #e1e9f5 !important;
        }
        svg {
          float: left !important;
          width: 20px !important;
          fill: #259cd4 !important;
          left: 10px;
          top: 8px;
        }
      }
    }
  }
}
.dd-per-page {
  background: url(../images/icons/arrow-down.svg) no-repeat;
  background-position: center right 10px;
  padding: 0 12px;
}
.export-btn,
.export-btn {
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0px 15px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid #e1edff;
  font-size: 13px;
  padding-top: 2px;
  color: #094460;
  font-weight: 600;
  opacity: 0.8;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .meta-table-name {
    color: #259cd4;
    font-weight: 600;
  }
  .meta-table-actions {
    display: flex;
    justify-content: space-between;
    //  align-items: center;
    //  flex: 1;
    //  padding-left: 40px;
    .meta-supperimer {
      color: #ce1e1e;
      font-weight: 500;
    }
    span {
      color: $textColor;
      svg {
        margin-top: 0px;
        margin-right: 2px;
      }
    }
    .action-item {
      margin: auto 5px;
      button {
        margin-top: 0;
        &:hover {
          border-color: #259cd4;
        }
        &:active {
          border-color: #259cd4;
        }
      }
      select {
        margin-bottom: 0;
        min-width: 125px;
        height: 42px;
        &:hover {
          border-color: #259cd4;
        }
      }
    }
  }
}

.content-row .dropdown {
  top: 0px;
  right: -20px;
}

// ---------------over-ride table classes by Azhar--------------
ul.tableBody li p {
  width: 300px;
}

.table-header-li {
  p.sexe {
    padding-right: 0px;
    padding-left: 5px;
    width: 250px;
  }
  p.tel {
    width: 550px;
    padding-left: 30px;
  }
  .birthday {
    width: 300px;
    padding-right: 0px;
    padding-left: 10px;
  }
}

.patient-table-item {
  p.sexe {
    padding-right: 0px;
    width: 250px;
  }
  p.tel {
    width: 550px;
  }
  .birthday {
    width: 300px;
  }
}

ul.tableHeader {
  list-style: none;
  display: inline-block;
  width: 100%;
  li {
    display: table-row;
    p {
      width: 300px;
      padding-top: 15px;
      padding-right: 30px;
      display: table-cell;
      box-sizing: border-box;
      padding-left: 20px;
    }
  }
}
