$basicColor: #259cd4;
$bgColor: #daebf7;
$modelColor: #fff;
$borderColor: #c3dff3;
$textColor: #094460;
$sahdow: 8px 0 22px 0 rgba(0, 173, 255, 0.16);
$radiusValue: 4px;

// --------New Colors---------
$successColor: #72cb13;
$dangerColor: #d43939;
$warningColor: #ff7300;
$darkColor: #838790;
